<!DOCTYPE html>
<html lang="<%= site.lang || 'ko' %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="<%= page.description || site.description %>" />
    <meta name="author" content="<%= page.author || site.author %>" />
    <% if (page.tags) { %>
    <meta name="keywords" content="<%= page.tags.join(',') %>" />
    <% } %>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= page.title || site.title %>" />
    <meta property="og:description" content="<%= page.description || site.description %>" />
    <meta property="og:url" content="<%= site.url %><%= page.url %>" />
    <meta property="og:site_name" content="<%= site.title %>" />
    <meta property="og:image" content="<%= page.image || site.image %>" />
    <% if (site.facebook_app_id) { %>
    <meta property="fb:app_id" content="{{ facebook_app_id }}" />
    <% } %>
    <meta name="twitter:card" content="summary" />
    <% if (site.twitter_username) { %>
    <meta name="twitter:site" content="@<%= site.twitter_username %>" />
    <% } %>
    <meta name="twitter:title" content="<%= page.title || site.title %>" />
    <meta name="twitter:description" content="<%= page.description || site.description %>" />
    <meta name="twitter:url" content="<%= site.url %><%= page.url %>" />
    <meta name="twitter:image:src" content="<%= page.image || site.image %>" />
    <% if (site.google_site_verification) { %>
    <meta name="google-site-verification" content="<%= site.google_site_verification %>" />
    <% } %>
    <link rel="canonical" href="<%= site.url %><%= page.url?.replace('index.html','') %>" />
    <link rel="alternate" type="application/rss+xml" href="<%= site.url %>/rss" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/scripts.js" defer></script>

    <!--@@<link rel="stylesheet" href="stylesheets/styles.css">-->
    <link rel="stylesheet" href="simulator/style.css">

    <title><%= page.title || 'Home' %> - <%= site.title %></title>
  </head>
  <body>
    <header>
      <h1><a href="/" class="nolink">Easy 6502</a></h1>
      <nav>
        <a href="/">Tutorial</a>
        <a href="/simulator">Simulator</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main><%- include(page.layout + '.ejs') -%></main>
    <aside>
      <input id="themeCheck" type="checkbox">
    </aside>
    <footer>
        <p><em>by</em> <a href="https://twitter.com/skilldrick">Nick Morgan</a>, licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></p>
        <p class="view"><a href="https://github.com/skilldrick/easy6502/tree/gh-pages">Fork me on GitHub</a></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<template id="simulator-widget-template">
<div class="widget">
  <div class="buttons">
    <input type="button" value="Assemble" class="assembleButton" />
    <input type="button" value="Run" class="runButton" />
    <input type="button" value="Reset" class="resetButton" />
    <input type="button" value="Hexdump" class="hexdumpButton" />
    <input type="button" value="Disassemble" class="disassembleButton" />
    <input type="button" value="Notes" class="notesButton" />
  </div>

  <textarea class="code"></textarea>

  <canvas class="screen" width="160" height="160"></canvas>

  <div class="debugger">
    <input type="checkbox" class="debug" name="debug" />
    <label for="debug">Debugger</label>
    <div class="minidebugger"></div>
    <div class="buttons">
      <input type="button" value="Step" class="stepButton" />
      <input type="button" value="Jump to..." class="gotoButton" />
    </div>
  </div>

  <div class="monitorControls">
    <label for="monitoring">Monitor</label>
    <input type="checkbox" class="monitoring" name="monitoring" />

    <label for="start">Start: $</label>
    <input type="text" value="0" class="start" name="start" />
    <label for="length">Length: $</label>
    <input type="text" value="ff" class="length" name="length" />
  </div>

  <div class="monitor"><pre><code></code></pre></div>
  <div class="messages"><pre><code></code></pre></div>

  <div class="notes" style="display: none">Notes:

Memory location $fe contains a new random byte on every instruction.
Memory location $ff contains the ascii code of the last key pressed.

Memory locations $200 to $5ff map to the screen pixels. Different values will
draw different colour pixels. The colours are:

$0: Black
$1: White
$2: Red
$3: Cyan
$4: Purple
$5: Green
$6: Blue
$7: Yellow
$8: Orange
$9: Brown
$a: Light red
$b: Dark grey
$c: Grey
$d: Light green
$e: Light blue
$f: Light grey
    </div>
</div>
</template>

    <script src="simulator/assembler.js" defer></script>
  </body>
</html>
